<div class="container">
  <div class="row">
   
<div class="h2">El Aroma magico</div>
<br/>
<hr class="mt-1 mb-1"/>
<br/>
<img class="image" alt="bimtrazer-logo" src="assets/images/cafes.png"/>
<br/>
<br/>
<hr class="mt-1 mb-1"/>
<br/>
<div class="container-fluid">
  <div class="col-6">
    <table class="table" id="vehiculosTable">
      <thead class="table-dark">
        <tr>
          <th scope="h5">#</th>
          <th scope="h5">Nombre</th>
          <th scope="h5">Tipo</th>
          <th scope="h5">Region</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cafes" class="col mb-2">
          <th scope="row">{{ c.id }}</th>
          <td>
            {{ c.nombre }}
          </td>
          <td>
            {{ c.tipo }}
          </td>
          <td>
            {{ c.region }}
          </td>
      </tbody>
    </table>
  </div>
</div>
<p class="text-center">
  Contact us: +57 3102105253 - @elaromamagico.com - @elaromamagico
</p>

</div>
</div>
